In [1]:
1 + 1

2

In [2]:
1.0

1.0

In [3]:
1 * 3

3

In [4]:
1 / 2

0.5

In [5]:
2 ** 4

16

In [6]:
2 + 3 * 5 + 5

22

In [7]:
(2 + 3) * (5 + 5)

50

In [8]:
4 % 2

0

5 % 2

In [9]:
5 % 2

1

In [1]:
8 % 2

0

In [2]:
d = 4400
print(d)

4400

In [3]:
d

4400

In [4]:
x = 2
y = 3

In [5]:
x + y

5

In [6]:
x = x + x

In [7]:
x

4

In [8]:
# Strings

In [9]:
' single quotes'

' single quotes'

In [10]:
"This is a String"

'This is a String'

In [11]:
False

False

In [12]:
True

True

In [13]:
t = (1,2,3)

In [14]:
t[1
 ]

2

In [15]:
my_list = [1,2,3]

In [17]:
my_list[0] = 'NEW'

In [18]:
my_list

['NEW', 2, 3]

In [19]:
{1,2,3}

{1, 2, 3}

In [22]:
s ={1,2,4,5,1,1,1,1}

In [23]:
s.add(9)

In [24]:
s

{1, 2, 4, 5, 9}

In [25]:
seq = [1,2,3,4,5,6]

In [26]:
for item in seq:
    print(item)

1
2
3
4
5
6

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
x = [1,2,3,4]

In [3]:
out = []

In [4]:
for num in x:
    out.append(num**2)

In [5]:
print(out)

[1, 4, 9, 16]

In [6]:
[num**2 for num in x]

[1, 4, 9, 16]

In [7]:
out = [num**2 for num in x]

In [8]:
print(out)

[1, 4, 9, 16]

In [9]:
def cat(num):
    return num**2

In [10]:
cat(10)

100

In [20]:
def my_func(name="Default Name"):
    """
    This comment can go multiple lines , this function will give us info
    
    """
    print("Hello " + name)

In [12]:
my_func("hello")

hello

In [18]:
my_func("Ahmed")

Hello Ahmed

In [21]:
my_func

In [22]:
range

range

In [35]:
lambda var:var*2

In [24]:
times2(5)

10

In [31]:
seq = [1,2,3,4,5]

In [37]:
list(map(lambda var:var*3,seq))

[3, 6, 9, 12, 15]

In [39]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

In [40]:
s = 'hello my name is Sam'

In [41]:
s.lower()

'hello my name is sam'

In [42]:
s.upper()

'HELLO MY NAME IS SAM'

In [44]:
s.split("S")

['hello my name is ', 'am']

In [78]:
tweet = 'Go Sports! #Sports!'

In [82]:
tweet.count('!')

2

In [76]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [80]:
tweet.find('!')

9

In [49]:
d = {'k1':1,'k2':2}

In [50]:
print(d)

{'k1': 1, 'k2': 2}

In [51]:
d

{'k1': 1, 'k2': 2}

In [52]:
d.keys()

dict_keys(['k1', 'k2'])

In [53]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [54]:
d.values()

dict_values([1, 2])

In [55]:
lst = [1,2,3]

In [56]:
lst.pop()

3

In [57]:
lst = [1,2,3,4,5]

In [58]:
item = lst.pop()

In [59]:
item

5

In [60]:
lst

[1, 2, 3, 4]

In [61]:
first = lst.pop(0)

In [62]:
first

1

In [63]:
lst.append('new')

In [64]:
lst

[2, 3, 4, 'new']

In [65]:
'x' in [1,2,3]

False

In [66]:
'x' not in lst

True

In [67]:
x = [(1,2),(3,4),(5,6)]

In [69]:
x[0][1]

2

In [74]:
for a,b in x:
    print(b)

2
4
6