In [13]:
import numpy as np

In [11]:
import pandas as pd

In [14]:
#Index Levels
outside = "G1 G1 G1 G2 G2 G2".split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [17]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1  1.235614  0.666856
   2  0.853357  0.732441
   3 -1.455739 -0.125984
G2 1  0.855518  0.261692
   2 -0.485985 -1.753248
   3 -0.549805  0.015251

In [20]:
df.loc['G1'].loc[1].loc['A']

1.2356141927142763

In [23]:
df.index.names = ['Groups','Num']

In [24]:
df

                   A         B
Groups Num
G1     1    1.235614  0.666856
       2    0.853357  0.732441
       3   -1.455739 -0.125984
G2     1    0.855518  0.261692
       2   -0.485985 -1.753248
       3   -0.549805  0.015251

In [28]:
df.loc['G2'].loc[2]['B']

-1.7532475713133546

In [33]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.235614  0.666856
G2      0.855518  0.261692